
@fontSize: 15px;
page {
  color: #666;
  line-height: 1.4rem;
  font-size: @fontSize;
  padding: 10px;
  box-sizing: border-box;
  .title, .point {
    font-weight: bold;
    font-size: 1.4*@fontSize;
    color: #333;
    padding: 5px;
    margin-top: 8px;
  }
  .point {
    font-size: 1.2*@fontSize;
  }
  .list {
    padding: 5px;
  }
}

view {
  display: block;
  text-align: justify;
}

image {
  margin: auto;
  padding: 10px 0;
}

.img1 {
  height: 250px;
}

.img3 {
  height: 60px;
}

.img4 {
  height: 43px;
}

.img5, .img6 {
  height: 300px;
}

button {
  margin: 20px 0;
}
